body {
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    .card {
        background: white;
        // margin : 1.5rem .5rem ;
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        border-radius: .75rem;
    }
}

@media screen and ( min-width: 320px) {
    .card {
        width: 300px;
        #image-mobile {
            width: 100%;
            border-radius: .75rem .75rem 0 0;
        }
    }
}